@import url('https://fonts.googleapis.com/css?family=Bowlby One SC');
html { 
  background: url('images/movie_theater.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  /*background-color: rgb(26, 27, 27);*/
  /* background-image: url('images/movie_theater.jpg');
  background-repeat: no-repeat;
  background-size: cover; */
  /* font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif; */
  font-family: 'Bowlby One SC';
}
/*Grid*/
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 15px;
}

.header-container {
  background: rgba(253, 248, 248, 0.40);
  grid-column: 1/4;
}

.body-container {
  background: rgba(253, 248, 248, 0.40);
  grid-column: 2/3;
}

.footer-container {
  /* background: rgba(253, 248, 248, 0.40); */
  grid-column: 1/4;
  grid-row: 3/4;
}

/*Header*/
.header-container {
  display: flex-start;
  max-height: 5vh; 
  padding: 35px;
  margin-top:-8px;
  margin-right: -8px;
  margin-left: -8px;
}
.movie-search { /*h1*/
  color: white;
}

/*Form*/
.form {
  display: block;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}

.title-label {
  margin: 25px;
}

label {
  font-size: 23px;
  color: white;
}

.textbox {
  margin: 25px;
}

[name="title-search"] {
  width: 250px;
  padding: 10px;
  border-radius: 5px;
}

/*Buttons*/
#search-movies, #search-all-movies {
  border-radius: 6px; /*buttons will have rounded edges*/
  padding: 8px;
  margin: 10px;
  font-weight: bold;
  font-family: 'Bowlby One SC';
}

/*Footer*/
.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 300px; /*moves credits a little below*/
}

/*Media Queries*/
@media screen and (max-width: 1024px){
  #wrapper{ 
    width: 1024px;
    /* margin-bottom: 105px; */
   }

   form {
    /* padding: 75px; */
  }
} 

@media screen and (max-width: 899px){
  #wrapper{ 
    width: 899px;
    /* margin-bottom: 105px; */
   }

   form {
    /* padding: 75px; */
  }
} 

@media screen and (max-width: 699px){
  #wrapper{
    width: 699px;
    /* margin-bottom: 105px; */
  }

  form {
    /* padding: 65px; */
  }
}

@media screen and (max-width: 500px){
  #wrapper{
    width: 500px;
    /* margin-bottom: 238px; */
  }

  .header-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  form {
    /* padding: 45px; */
  }



  #br::before{
    content: ' ';
    display: block;
  }
}
